.bookPhotosSliders {
  .bookPhotos {
    .slick-track {
      max-height: 600px;
    }
    .slick-slide {
      display: flex;
      justify-content: center;
    }
    .img {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
  }

  .bookPhoto {
    .slick-track {
      max-height: 600px;
    }
    .slick-slide {
      display: flex;
      justify-content: center;
    }
    .img {
      max-width: 620px;
      max-height: 650px;
      // width: 600px;
      // height: 600px;
    }
  }
}

@include media-breakpoint-down($screen-lg-max) {
  .bookPhotosSliders {
    flex-direction: column-reverse !important;
    .bookPhoto {
      .slick-slide {
        padding: 0;
      }
      .slick-track {
        display: flex;
        align-items: center;
      }
      .img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include media-breakpoint-down($screen-sm-max) {
  .bookPhotosSliders {
    .bookPhoto {
      .img {
        max-height: 500px;
      }
    }
  }
}

@include media-breakpoint-down($screen-xs-max) {
  .bookPhotosSliders {
    .bookPhoto {
      .img {
        max-height: 300px;
      }
    }
  }
}
