.uploadAvatarBtn {
  .ant-upload.ant-upload-select-picture-card,
  .ant-upload-list-picture-card .ant-upload-list-item {
    background: #edf8f6;
    border-radius: 50%;
    padding: 0;
  }
  .ant-upload-list-item-info {
    border-radius: 50%;
  }
}
