@import '../utilities/index';

.commentsTextArea::after {
  text-align: left;
  bottom: -30px;
}

// AutoComplete Component

.autoComplete {
  min-width: 500px;
}

@include media-breakpoint-down($screen-md-max) {
  .autoComplete {
    min-width: initial;
    width: 100%;
  }
} ;
