.advantages {
  min-height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 75px 0;

  &__heading {
    text-align: center;
    margin-bottom: 84px;
    &__title {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 100px;
  }
}

@include media-breakpoint-down($screen-md-max) {
  .advantages {
    align-items: flex-start;
    &__heading {
      text-align: left;
      margin-bottom: 50px;
      &__title {
        max-width: initial;
      }
    }
    &__card {
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
      padding: 16px 0;
      svg {
        margin-right: 10px;
      }
    }
  }
}
@include media-breakpoint-down($screen-sm-max) {
  .advantages {
    &__card {
      max-width: initial;
    }
  }
}
