// * @font-face LESS Mixin
// * use: .font-face(
// *   @font-family, // name
// *   @file-path,   // absolute/relative URL to font files
// *   @font-weight, // light/normal/bold/inherit | 300/400/700
// *   @font-style   // italic/normal/inherit
// * )
// */
// .font-face(@font-family, @file-path, @font-weight, @font-style) {
//   @font-face {
//     font-family: @font-family;
//     src: url("@{file-path}.eot");
//     src: url("@{file-path}.eot?#iefix") format("embedded-opentype"),
//       url("@{file-path}.woff") format("woff"),
//       url("@{file-path}.ttf") format("truetype"),
//       url("@{file-path}.svg#@{file-path}") format("svg");
//     font-weight: @font-weight;
//     font-style: @font-style;
//   }
// }

/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/lato-v17-latin-300.eot");
  src: url("./fonts/lato-v17-latin-300.eot?#iefix") format("embedded-opentype"),
    url("./fonts/lato-v17-latin-300.woff2") format("woff2"),
    url("./fonts/lato-v17-latin-300.woff") format("woff"),
    url("./fonts/lato-v17-latin-300.ttf") format("truetype"),
    url("./fonts/lato-v17-latin-300.svg#Lato") format("svg");
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/lato-v17-latin-regular.eot");
  src: url("./fonts/lato-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/lato-v17-latin-regular.woff2") format("woff2"),
    url("./fonts/lato-v17-latin-regular.woff") format("woff"),
    url("./fonts/lato-v17-latin-regular.ttf") format("truetype"),
    url("./fonts/lato-v17-latin-regular.svg#Lato") format("svg");
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/lato-v17-latin-700.eot");
  src: url("./fonts/lato-v17-latin-700.eot?#iefix") format("embedded-opentype"),
    url("./fonts/lato-v17-latin-700.woff2") format("woff2"),
    url("./fonts/lato-v17-latin-700.woff") format("woff"),
    url("./fonts/lato-v17-latin-700.ttf") format("truetype"),
    url("./fonts/lato-v17-latin-700.svg#Lato") format("svg");
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/lato-v17-latin-900.eot");
  src: url("./fonts/lato-v17-latin-900.eot?#iefix") format("embedded-opentype"),
    url("./fonts/lato-v17-latin-900.woff2") format("woff2"),
    url("./fonts/lato-v17-latin-900.woff") format("woff"),
    url("./fonts/lato-v17-latin-900.ttf") format("truetype"),
    url("./fonts/lato-v17-latin-900.svg#Lato") format("svg");
}

// @primary-color: #e8783e; // primary color for all components
@primary-color: #f37800;
// @secondary-color: #01504d;
@font-family: "Lato", "Roboto", sans-serif;
@font-size-base: 16px; // major text font size
@text-color: #05161d; // major text color
@text-color-secondary: #8d9da4; // secondary text color
@link-color: @text-color-secondary;
@divider-color: #8d9da4;
@height-lg: 52px;
@select-single-item-height-lg: 52px;
@select-multiple-item-height-lg: 32px;
// @select-background: #edf8f6;
@form-item-margin-bottom: 30px;
// @component-background: #edf8f6;
@layout-header-height: 100px;
@layout-header-background: none;
// @select-selection-item-bg: #edf8f6;
// @select-item-selected-color: #edf8f6;
@select-dropdown-bg: @select-background;
